title {
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.intro__title {
    font-family: "PT Serif", sans-serif;
}

/*  Header */
.header {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.header__logo {
    background: url("../images/logo.svg") no-repeat;

    /* font: 700 24px/31px 'PT Serif', sans-serif; */
    /*  color: inherit; */
    width: 190px;
    height: 35px;
}

.header__logo_mobile {
    display: none;
    background: url("../images/logo_m.svg") no-repeat;
    width: 36px;
    height: 35px;
}

.header__logo:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}
.nav__link,
.nav__link_active {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: inherit;
}

.nav__link_active:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #0056ec;

    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
}

.nav__link:after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #0056ec;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.nav__link:hover:after {
    width: 100%;
}

.nav__link:last-child {
    margin-right: 0;
}

.hamburger-menu {
    display: none;
}

/* Intro */
.intro {
    width: 80%;
    margin: auto;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Content */
.intro__content {
    padding: 0 63% 100% 0;
    background: url("../images/Frame.svg") no-repeat top right;
}

.intro__title {
    font-size: 66px;
    font-weight: 700;
    line-height: 1.3;
    font-family: PT Serif;
    margin-bottom: 40px;
}

.title__mark {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 15%,
        #ecf3ff 15%
    );
}

.intro__subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 40px;
}

.btn {
    border: none;
    padding: 18px 30px 18px 21px;
    background-color: #0056ec;
    border-radius: 4px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.1s linear;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.5);
    transform: translate3d(-2px, -2px, 0);
}

/* Media */
@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .header {
        margin-bottom: 28px;
    }

    .header__logo {
        display: none;
    }

    .header__logo_mobile {
        display: block;
    }

    /* Burger menu */
    /* скрываем чекбокс */
    .hamburger-menu {
        display: block;
    }
    #menu__toggle {
        opacity: 0;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center; /* центрируем содержимое кнопки */
        position: fixed;
        top: 51px;
        right: 40px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #0056ec;
    }
    .menu__btn > span::before {
        content: "";
        top: -8px;
    }
    .menu__btn > span::after {
        content: "";
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 15%;
        left: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #fff;
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 24px 24px;
        color: #333;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #cfd8dc;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: 0.25s;
    }
    .menu__box {
        transition-duration: 0.25s;
    }
    .menu__item {
        transition-duration: 0.25s;
    }
    .intro__content {
        text-align: center;
        padding: 74% 0 0;
        background-size: 74%;
        background-position: top center;
        margin-bottom: 0;
    }
    .intro__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 44px;
    }
    .intro__subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        margin-bottom: 28px;
    }
    .btn {
        margin: 0 auto;
        padding: 14px 25px 13px 16px;
        font-size: 14px;
    }
}
