title {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.intro__title {
  font-family: "PT Serif", sans-serif;
}

.header {
  width: 80%;
  margin: auto;
  margin-bottom: 134px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.header__logo {
  background: url("../images/logo.svg") no-repeat;
  width: 190px;
  height: 35px;
}

.hamburger-menu {
  display: none;
}

.header__logo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link,
.nav__link_active {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  margin: 0 14px;
  text-decoration: none;
  color: inherit;
}

.nav__link_active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #0056ec;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 1;
}

.nav__link:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #0056ec;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}

.nav__link:hover:after {
  width: 100%;
}

.nav__link:last-child {
  margin-right: 0;
}

.intro {
  width: 80%;
  margin: auto;
}

.intro__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__content {
  padding: 76px 63% 200px 0;
  background: url("../images/Frame.svg") no-repeat top right;
  margin-bottom: 87px;
}

.intro__title {
  font-size: 66px;
  font-weight: 700;
  line-height: 1.3;
  font-family: PT Serif;
  margin-bottom: 40px;
}

.title__mark {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.intro__subtitle {
  font-family: Roboto;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 57px;
  padding-right: 90px;
}

.btn {
  border: none;
  padding: 18px 30px 18px 21px;
  background-color: #0056ec;
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.1s linear;
}

.btn:hover {
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.5);
  transform: translate3d(-2px, -2px, 0);
}
.slaider {
  display: flex;
  width: 32px;
  height: 8px;
  background: url("../images/slaider.svg") no-repeat center;
  margin-bottom: 40px;
  padding: 0px 49% 0 49%;
}

@media (max-width: 1367px) {
  .header {
    width: 69%;
    margin-bottom: 90px;
  }
  .nav__link,
  .nav__link_active {
    font-size: 14px;
    line-height: 16.41px;
  }
  .intro__content {
    background-size: 47%;
    background-position: 86% 0%;
    padding: 16px 56% 73px 73px;
  }
  .intro__title {
    font-size: 50px;
    line-height: 66.25px;
  }
  .intro__subtitle {
    font-size: 18px;
    line-height: 21.09px;
    padding-right: 54px;
    font-weight: 600;
    margin-bottom: 52px;
  }
  .btn {
    font-size: 14px;
    line-height: 16.01px;
    padding: 14px 30px 14px 18px;
  }
  .slaider {
    padding: 0px 48% 0 49%;
  }
}

@media (max-width: 1025px) {
  .header {
    width: 92%;
  }
  .nav__link,
  .nav__link_active {
    margin: 0 13px;
  }
  .intro {
    width: 90%;
    margin: 0 40px;
  }
  .intro__content {
    background-size: 56%;
    background-position: 105% 0%;
    padding: 16px 56% 73px 0px;
  }
  .slaider {
    padding: 0px 47% 0 49%;
  }
}

@media (max-width: 769px) {
  .nav {
    display: none;
  }
  .header {
    width: 90%;
    margin-bottom: 10%;
  }
  .header__inner {
    padding: 17px 0 31px;
  }
  .hamburger-menu {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px;
    right: 45px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056ec;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 47% 0;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  .intro__content {
    text-align: center;
    padding: 75% 0 0;
    background-size: 75%;
    background-position: 50% 0%;
  }
  .intro__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 42px;
  }
  .intro__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 46px;
    padding: 0 80px;
  }
  .btn {
    margin: 0 auto;
    padding: 14px 25px 13px 16px;
    font-size: 14px;
  }
  .slaider {
    display: none;
  }
}

@media (max-width: 376px) {
  .header {
    width: 90%;
    margin-bottom: -3px;
  }
  .header__logo {
    background: url("../images/logo-m.svg") no-repeat;
    width: 36px;
    height: 35px;
  }
  .intro {
    margin: auto;
  }
  .intro__content {
    padding: 80% 0 0;
    background-size: 87%;
    margin-bottom: 43px;
  }
  .intro__title {
    margin-bottom: 33px;
  }
  .intro__subtitle {
    margin-bottom: 38px;
    padding: 0 35px;
  }
  .menu__btn {
    right: 24px;
  }
}
